.bidNft{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 400px;
    height: 100px;
    justify-content: center;
    text-align: center; 
    background: linear-gradient(91.03deg, rgba(255, 254, 254, 0.23) -47.11%, rgba(255, 254, 254, 0.23) 110.32%);
    backdrop-filter: blur(30px);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 400px;
    margin-left: 600px;
    grid-column: 2;
    
}

.currentBid {
    margin-top: 13px;
    margin-bottom: 20px;
}

.contagemTempo{
    margin-top: 13px;
    margin-bottom: 20px;
}