.btnPrimary{
    background: #FC4754E8;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 136px;
    font-family: var(--fonteProjeto);
    font-size: 1rem;
    text-shadow: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.btnSecondary{
    background: #10061E;
    color: rgb(255, 255, 255);
    border-color:#FC47548C;
    height: 50px;
    width: 136px;
    font-family: var(--fonteProjeto);
    font-size: 1rem;
    text-shadow: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    }

.btnBid{
    background: #FC4754E8;
    color: rgb(255, 255, 255);
    border-color: #FC4754E8;
    height: 50px;
    width: 114px;
    font-family: var(--fonteProjeto);
    font-size: 1rem;
    text-shadow: none;
    border-radius: 4px;
    line-height: 141.69%;
    margin-top: 25px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.btnPrimary:hover {
    background-color: var(--btn-hover-vermelhos);
    transform: scale(1.10);
    text-decoration: none;
    outline: none;

}

.btnPrimary:active{
    color: #ffffff;
    background-color: var(--corBotao1);
}

.btnBid:hover {
    background-color: var(--btn-hover-vermelhos);
    text-decoration: none;
    outline: none;
    transform: scale(1.10);
}

.btnBid:active{
    color: #ffffff;
    background-color: var(--corBotao1);
}

.btnSecondary:hover{
    background-color: var(--btn-hover-transparentes);
    transform: scale(1.10);
    text-decoration: none;
    outline: none;
}

.btnSecondary:active{
    color: #ffffff;
    background-color: var(--btn-hover-transparentes);
}


