.efeitosEspeciais {
    background:#FC4754;
    position: absolute;
    width: 262px;
    left: -230px;
    right: 93.58%;
    top: 42px;
    bottom: 56.71%;
    background: #FC4754;
    filter: blur(40px);
    border-radius: 20px;
}






