.logoValorant{
    height: 50px;
}

.gandisInicio {
    font-size: 23px;
    font-weight: 700;
    color: white;
}


.logoReyna{
    position: absolute;
    width: 300px;
    height: 371px;
    left: 1300px;
    top: 300px;
}
